body {
  font-family: Arial, sans-serif;
  background-color: lightcyan;
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
  display: block;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: lower-roman inside;
}

header {
  display: block;
  height: 100px;
}

header img {
  width: 100px;
  height: 100px;
  float: left;
}

header nav {
  float: right;
}

ul li a {
  color: inherit;
  text-decoration: none;
}

nav li {
  display: inline-block;
}


nav li a{
  padding: 20px;
  display: inline-block;
}

body {
  margin: 0 auto;
    width: 60%;
}

aside li{
  margin: 15 15;
}

ol li{
  margin: 15 15;
}

input[type="text"]{
  display: block;
}

input[type="submit"]{
  display: block;
}

label{
  display: block;
  /*margin: 10;*/
}

textarea{
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
}

select{
  display: block;
  width: 300px;
  margin: 15 0;
}

.hamburger-dropdown {
  display: none;
}

@media all and (max-width: 900px) {
  nav ul {
    display: none;
  }

  nav li ul li{
    /*padding: 20px;*/
    width: 100%;
    /*display: inline-block;*/
  }

  nav li a{
    padding: 20px;
    display: block;
  }

  .hamburger-dropdown {
    display: block;
  }

  .hamburger-dropdown > li{
    background: url(./assets/hamburger.png);
    width: 50px;
    height: 50px;
    position: relative;
    background-size: 50px 50px;
  }

  .hamburger-dropdown ul{
    display: none;
    position: relative;
    top: 50px;
    left: 0px;
    background-color: white;
  }

  .hamburger-dropdown:hover ul{
    display: inline-block;
  }

  .hamburger-dropdown ul li:hover a{
    background-color: lightgrey;
  }
  
}
